/* White: #f8faed */
/* Darkest Purple: #523d48 */
/* Dark Purple: #825f75 */
/* Accent Purple: #833b94 */
/* Light Purple: #c9aabd */


/* ----------------------------------------------------------- */
/* Basic Setup */
/* ----------------------------------------------------------- */

:root {
    font-size: 16px;
    font-family: 'Arima Madurai', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --text-primary: #523d48;
    --text-secondary: #f8faed;
    --bg-primary: #c9aabd;
    --bg-secondary: #825f75;
}

html,
body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-family: 'Arima Madurai', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* ----------------------------------------------------------- */
/* Reusable Components */
/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */
/* Paragraphs */
/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */
/* Icons */
/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */
/* Links */
/* ----------------------------------------------------------- */

a:link,
a:visited {
    color: #523d48;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
}

a:hover,
a:active {
    color: #833b94;
    border-bottom: 1px solid #833b94;
    transition: border-bottom 0.2s, color 0.2s;
}

/* ----------------------------------------------------------- */
/* Buttons */
/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */
/* Header */
/* ----------------------------------------------------------- */
header {
    background-color: #f8faed;
    text-decoration: none;
}

/* ----------------------------------------------------------- */
/* Main Navigation */
/* ----------------------------------------------------------- */

#header {
    background-color: var(--text-secondary);
}
.center-header {
    font-size: 200%;
    text-align: center;
}

.left-header {
    text-align: left;
}

.right-header {
    text-align: right;
}

/* ----------------------------------------------------------- */
/* Mobile Navigation */
/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */
/* Sticky Navigation */
/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */
/* Hero Page Section */
/* ----------------------------------------------------------- */

.hero-shot {
    background-image: url(assets/b&w.profile.altered.jpg);
    background-repeat: no-repeat;
    background-size: 60% 90%;
    background-position: center;
    height: 75vh;
    margin-top: 2%;
}

/* ----------------------------------------------------------- */
/* About Me Section */
/* ----------------------------------------------------------- */

#about-me {
    text-align: center;
    border-bottom: 1px solid #523d48;
}

/* ----------------------------------------------------------- */
/* Resume Section */
/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */
/* Works Section - Professional */
/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */
/* Works Section - Personal */
/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */
/* Contact Form Section */
/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */
/* Footer */
/* ----------------------------------------------------------- */