/* White: #f8faed */
/* Darkest Purple: #523d48 */
/* Dark Purple: #825f75 */
/* Accent Purple: #833b94 */
/* Light Purple: #c9aabd */


/* ----------------------------------------------------------- */
/* Basic Setup */
/* ----------------------------------------------------------- */

:root {
    font-size: 16px;
    font-family: 'Arima Madurai', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --text-primary: #523d48;
    --text-secondary: #f8faed;
    --bg-primary: #c9aabd;
    --bg-secondary: #825f75;
}

html,
body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-family: 'Arima Madurai', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* ----------------------------------------------------------- */
/* Reusable Components */
/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */
/* Paragraphs */
/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */
/* Icons */
/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */
/* Links */
/* ----------------------------------------------------------- */

a:link,
a:visited {
    color: #523d48;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
}

a:hover,
a:active {
    color: #833b94;
    border-bottom: 1px solid #833b94;
    transition: border-bottom 0.2s, color 0.2s;
}

/* ----------------------------------------------------------- */
/* Buttons */
/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */
/* Header */
/* ----------------------------------------------------------- */

#header {
    background-color: var(--text-secondary);
    text-decoration: none;
}
.center-header {
    font-size: 200%;
    text-align: center;
}

.left-header {
    text-align: left;
}

.right-header {
    text-align: right;
}

/* ----------------------------------------------------------- */
/* Mobile Navigation */
/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */
/* Sticky Navigation */
/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */
/* Hero Page Section */
/* ----------------------------------------------------------- */

.hero-shot {
    background-image: url(assets/b&w.profile.altered.jpg);
    background-repeat: no-repeat;
    background-size: 60% 110%;
    background-position: center;
    height: 75vh;
    margin-top: 2%;
}

/* ----------------------------------------------------------- */
/* About Me Section */
/* ----------------------------------------------------------- */

#about-me {
    padding-top: 5%;
    text-align: center;
    /*border-bottom: 1px solid #523d48;*/
}

/* ----------------------------------------------------------- */
/* Resume Section */
/* ----------------------------------------------------------- */
#resume .col-8 {
    text-align: center;
    padding-top: 2%;
}

#resume {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
}

#resume a {
    text-align: center;
    padding: 10px;
    color: var(--text-secondary);
    border: 3px solid var(--text-secondary);
    background-color: var(--text-primary);
    padding: 10px 40px;
    
}

#resume a:hover{
    text-decoration: underline;
    color: #833b94;
}

/* ----------------------------------------------------------- */
/* Works Section - Professional */
/* ----------------------------------------------------------- */

.prof-works ul{
    text-align: center;
}

.prof-works li {
    list-style-type: none;
}

.prof-works img{
    width: 100px;
    height: 100px;
    border: 3px solid var(--text-primary);
}

.prof-works img:hover,
img:active {
    transform: scale(1.25);
}

/* ----------------------------------------------------------- */
/* Works Section - Personal */
/* ----------------------------------------------------------- */

.pers-works ul{
    text-align: center;
}

.pers-works li {
    list-style-type: none;
}

.pers-works img{
    width: 100px;
    height: 100px;
    border: 3px solid var(--text-primary);
}

.pers-works img:hover,
img:active {
    transform: scale(1.25);
}

/* ----------------------------------------------------------- */
/* Contact Form Section */
/* ----------------------------------------------------------- */

#contact{
    position: absolute;
    width: 100%;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    background-color: var(--text-primary);
}

#contact h3 {
    color: var(--text-secondary);
}

.form-left {
    padding-top: 20px;
}

.form-left form input {
    display: block;
    float: left;

}

.form-right {
    padding-top: 20px;
}

input{
    padding: 5px;
    margin-bottom: 20px;
    margin-right: 20px;
    border: 0;
    border-bottom: 2px solid #1D202A;
    width: 100%;
}

.form-message textarea {
    width: 100%;
    padding: 15px;
    position: relative;
    border-bottom: 2px solid #1D202A;
}

.button button{
    text-decoration: none;
    padding: 10px;
    color: var(--text-primary);
    border: 2px solid #1D202A;
    background-color: var(--text-secondary);
}

.button button:hover{
    color: var(--text-secondary);
    background-color: var(--text-primary);
}

/* ----------------------------------------------------------- */
/* Footer */
/* ----------------------------------------------------------- */

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    text-align: center;
    vertical-align: center;
    line-height: 20px;
    height: 20px;
    font-size: 8pt;
    z-index: 1;
}